<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.global.travel.telecom.app">

    <uses-feature
        android:name="android.hardware.audio.low_latency"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.audio.output"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.audio.pro"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.software.sip"
        android:required="false" />
    <uses-feature
        android:name="android.software.sip.voip"
        android:required="false" />
    <uses-feature
        android:name="android.software.webview"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CONFIGURE_SIP" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <permission
        android:name="android.permission.USE_SIP"
        android:description="@string/permdesc_useSip"
        android:label="@string/permlab_useSip"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="dangerous" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/gtticon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/gtticon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.activities.ExtensionSimDataServer"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.ActivateSimDataServer"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.TransactionDetails"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.UserProfile"
            android:screenOrientation="locked" />
        <activity android:name=".ui.activities.VoipOnCall"
            android:screenOrientation="portrait"
            android:allowTaskReparenting="true"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:permission="android.permission.USE_SIP">
            <intent-filter android:priority="10" >
                <action android:name="com.chatapp.sip.phone.action.INCALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.GoogleMapActivity"
            android:screenOrientation="locked"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.LanguageSelect"
            android:screenOrientation="locked"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.Notification"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.ComingSoon"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.ApplyCoupons"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.PaymentSucessfull"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.mPayment"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.SkyGoDialer"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.Dashboard"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.ExtensionSim"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.ActivateSim"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.ScannerFunction"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.activities.SplashScreen"
            android:noHistory="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="fb680846345699872" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="beea056cbac893c5e43f7f5617c2bbe651117546" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--voip work start-->

        <provider
            android:name="com.chatapp.sip.service.PreferenceProvider"
            android:authorities="${applicationId}.prefs"
            android:exported="false"
            android:permission="android.permission.CONFIGURE_SIP" />
        <provider
            android:name="com.chatapp.sip.db.DBProvider"
            android:authorities="${applicationId}.db"
            android:permission="android.permission.CONFIGURE_SIP"
            android:process=":sipStack" />

        <receiver android:name="com.chatapp.sip.service.HeadsetButtonReceiver" />
        <receiver
            android:name="com.chatapp.sip.plugins.codecs.ReceiverG729"
            android:exported="false">
            <intent-filter>
                <action android:name="com.chatapp.codecs.action.REGISTER_CODEC" />
            </intent-filter>

            <meta-data
                android:name="init_factory"
                android:value="pjmedia_codec_g729_init" />
            <meta-data
                android:name="lib_name"
                android:value="libpj_g729_codec.so" />
        </receiver>
        <receiver
            android:name="com.chatapp.sip.service.DeviceStateReceiver"
            android:permission="android.permission.CONFIGURE_SIP"
            android:process=":sipStack">

            <!-- Here filter for protected-broadcasts -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.chatapp.sip.accounts.activate" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.chatapp.sip.service.SipService"
            android:exported="false"
            android:permission="android.permission.CONFIGURE_SIP"
            android:process=":sipStack">
            <intent-filter>
                <action android:name="com.chatapp.sip.service.SipService" />
                <action android:name="com.chatapp.sip.service.SipConfiguration" />
            </intent-filter>
        </service>

        <!--voip work end-->
    </application>

</manifest>