<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.global.travel.telecom.app">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/gtticon"
        android:label="Skygo"
        android:roundIcon="@mipmap/gtticon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.LanguageSelect"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activities.Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ComingSoon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ApplyCoupons"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PaymentSucessfull"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.mPayment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SkyGoDialer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.Recharge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ActivateSim"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ScannerFunction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="beea056cbac893c5e43f7f5617c2bbe651117546" />
    </application>

</manifest>